:root {
	--main-blue: #4b25cc;
	--dark-blue: #27125f;
	--main-red: #a70e6a;
	--white: #fff;
}

body {
	background: url("../images/background.svg");
	color: var(--white);
	/* TODO: Need to include the Helvetica Neue Font  */
	font-family: "Roboto", sans-serif;
}

.container {
	padding: 35px;
}

input {
	border: none;
	outline: none;
	color: var(--white);
	border-radius: 15px;
	padding: 16px 17px;
	background-color: transparent;
	backdrop-filter: blur(11px) brightness(12) opacity(0.3);
	width: 100%;
}

input::placeholder {
	color: var(--white);
}
.card {
	backdrop-filter: blur(11px) brightness(12) opacity(0.3);
}

button {
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 13px 37px;
	min-width: 196px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-blue);
	color: var(--white);
}

button.ghost {
	background-color: transparent;
	border: 1px solid var(--main-blue);
	color: var(--white);
}
