header {
	background-image: url("../images/hero-image-mobile.jpg");
	background-size: cover;
	background-position-x: center;
	height: 669px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: space-between;
}

.header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header-content button {
	margin-bottom: 10px;
}

.header-content h2 {
	margin-bottom: 37px;
}

.header-content button.ghost {
	margin-bottom: 54px;
}

.input-submit-btn {
	position: absolute;
	top: 2%;
	right: -5px;
	min-width: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shape-background {
	position: absolute;
	top: 0;
	left: 0;
}
.send-icon {
	z-index: 1;
	position: absolute;
	top: 15px;
}
.song-form {
	display: flex;
	position: relative;
}
