/* Header styles */
header {
	background-image: url("../images/hero-image-mobile.jpg");
	background-size: cover;
	background-position-x: center;
	height: 68vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: space-between;
}

.header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header-content button {
	margin-bottom: 10px;
}

.header-content h1 {
	margin-bottom: 37px;
}

.header-content button.ghost {
	margin-bottom: 54px;
}

/* Request a song styles */
.song-form {
	display: flex;
	position: relative;
	justify-content: space-between;
	border: none;
	outline: none;
	color: var(--white);
	border-radius: 15px;
	padding-left: 14px;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}

.song-form input {
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--white);
}

.song-form input::placeholder {
	color: var(--white);
}

.input-submit-btn {
	min-width: 72px;
	height: 49px;
	padding: 0;
	background: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shape-background {
	position: absolute;
	top: 0;
	right: -3px;
}

.send-icon {
	z-index: 1;
}

/* Next songs styles */
.search {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.search h3 {
	margin-bottom: 0;
}

.search-song-form {
	margin-left: 8px;
	height: 28px;
	max-width: 144px;
	padding: 0 10px;
	display: flex;
	position: relative;
	justify-content: space-between;
	border: none;
	outline: none;
	color: var(--white);
	border-radius: 15px;
	background-color: transparent;
	border: 1px solid var(--white);
}
.search-song-form input {
	background-color: transparent;
	border: none;
	outline: none;
	color: var(--white);
	width: 100%;
}
.search-song-form input::placeholder {
	color: var(--white);
	font-size: 10px;
}
.search-song-btn {
	min-width: initial;
	padding: 0;
	background: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards {
	height: 260px;
	overflow-y: scroll;
}
.next-song-card {
	display: flex;
	justify-content: space-between;
}

.next-song-card:not(:last-child) {
	margin-bottom: 10px;
}

.card-info {
	display: flex;
}

.album-image {
	object-fit: cover;
	width: 48px;
	height: 43px;
}

.song-info {
	margin-left: 5px;
}

.song-author {
	color: rgba(255, 255, 255, 0.5);
	font-weight: normal;
}

.song-info p.small {
	white-space: nowrap;
}

.likes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p.number-of-likes {
	margin-top: 5px;
}

/* Current song sticky styles */
.current-song {
	position: sticky;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	left: 0;
	bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.current-song .album-image {
	width: 103px;
	height: 64px;
}
.current-song .song-info {
	margin-left: 5px;
	width: 100%;
}
.current-song h2 {
	margin-bottom: 6px;
}
progress {
	width: 100%;
	height: 2px;
	background-color: var(--white);
	color: var(--white);
	background-color: rgba(255, 255, 255, 0.2);
}
progress::-webkit-progress-bar {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.2);
	opacity: 1;
}
progress::-webkit-progress-value {
	height: 3px;
	background-color: var(--white);
	position: relative;
	bottom: 2px;
	opacity: 1;
}
.song-stamps {
	display: flex;
	justify-content: space-between;
}
.song-stamps p {
	margin: 0;
	margin-top: 1px;
	font-size: 10px;
	font-weight: lighter;
}
