header {
	background-image: url("../images/hero-image-mobile.jpg");
	background-size: cover;
	background-position-x: center;
	height: 669px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: space-between;
}

.header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header-content button {
	margin-bottom: 10px;
}

.header-content h2 {
	margin-bottom: 37px;
}

.header-content button.ghost {
	margin-bottom: 54px;
}
